<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tabula Rasa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: white;
      }
      jumbotron {
        color: yellow;
        background-color: yellow;
        /*background-color:none !important;*/
      }
      nav {
        width: 400px;
        height: 150pc;
      }
    </style>
  </head>
  <body>
    <!-- <div class="jumbotron text-center" id="j" style="margin-bottom:0">
      <h1>Welcome to Tabula Rasa</h1>
    </div> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="col-md-2">
      <img src="/tabula.jpg" alt="Image" width="400" height="300" />
      <nav
        style="background-color:black"
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
        id="n"
      >
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <center>
            <img src="/logo.png" width="300" height="250" alt="Logo" />
          </center>
          <center>
            <ul class="nav nav-pills nav-stacked">
              <li style="color:white"><a href="#">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">LIVE MUSIC</a></li>
              <li><a href="#">FOOD</a></li>
              <li><a href="#">PARTIES @TABULARASA</a></li>
              <li><a href="#">CONTACT</a></li>

              <!-- Add font awesome icons -->

              <a
                href="https://www.facebook.com/tabularasa.hyd/"
                style="margin:20px"
                class="fa fa-facebook"
              ></a>
              <a
                href="https://twitter.com/tabula_rasa_bar?lang=en"
                style="margin:20px"
                class="fa fa-twitter"
              ></a>
              <a
                href="https://www.youtube.com/watch?v=QMtMQ1Uu0yw"
                style="margin:20px"
                class="fa fa-youtube"
              ></a>
              <a
                href="https://www.instagram.com/tabularasabar/?hl=en"
                style="margin:20px"
                class="fa fa-instagram"
              ></a>
            </ul>
          </center>
        </div>
      </nav>
      <img src="music.jpg" class="img-responsive" alt="music" />
    </div>
  </body>
</html>
