<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tabula Rasa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
      body {
        background-color: white;
      }
      jumbotron {
        color: yellow;
        background-color: yellow;
        /*background-color:none !important;*/
      }
      nav {
        width: 400px;
        height: 150pc;
      }
    </style>
  </head>
  <body>
    <!-- <div class="jumbotron text-center" id="j" style="margin-bottom:0">
      <h1>Welcome to Tabula Rasa</h1>
    </div> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <div class="col-md-2">
      <img src="/tabula.jpg" alt="Image" width="400" height="400" />
      <nav
        style="background-color:black"
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
        id="n"
      >
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <ul class="nav nav-pills nav-stacked">
            <li style="color:white"><a href="#">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">LIVE MUSIC</a></li>
            <li><a href="#">FOOD</a></li>
            <li><a href="#">PARTIES @TABULARASA</a></li>
            <li><a href="#">CONTACT</a></li>

            <!-- Add font awesome icons -->

            <a
              href="https://www.facebook.com/tabularasa.hyd/"
              style="margin:12px"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://twitter.com/tabula_rasa_bar?lang=en"
              style="margin:5px"
              class="fa fa-twitter"
            ></a>
            <a
              href="https://www.youtube.com/watch?v=QMtMQ1Uu0yw"
              style="margin:5px"
              class="fa fa-youtube"
            ></a>
            <a
              href="https://www.instagram.com/tabularasabar/?hl=en"
              style="margin:5px"
              class="fa fa-instagram"
            ></a>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <!-- <div>
            <img src="/music.jpg" alt="cafe.jpg" width="800" height="800" />
          </div> -->
          <h2 style="color:white"><b>ABOUT US</b></h2>
          <h5 style="color:yellow">@TABULA RASA</h5>

          <p style="color:white">
            Tabula Rasa – a philosophy that sees the human mind as a blank
            slate. Translated from Latin, Tabula Rasa the restaurant stationed
            in Jubilee Hills, is a perfect spot to explore that philosophy.
            You’re welcomed by blues playing in the background and potted plants
            surrounded by wooden furniture in the al fresco area. Had you not
            known better, you’ll almost expect a coastline on the other side of
            the bar at the far end of the restaurant. For the attentive eye,
            rustic doors that lead to nowhere in particular and an old lawnmower
            transformed into a lamp post that blend into the décor will not go
            unnoticed. We sit, soaking in the music, before the drinks arrive.
          </p>

          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-8">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <br />
          <h2><b>LIVE MUSIC</b></h2>
          <h5 style="color:yellow">A REAL DOWN HOME MUSIC BAR</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2 style="color:white"><b>ABOUT US</b></h2>
          <h5 style="color:yellow">@TABULA RASA</h5>
          <div class="fakeimg">
            <img src="tabula_main.jpg" alt="image" />
          </div>
          <p style="color:white">
            Tabula Rasa – a philosophy that sees the human mind as a blank
            slate. Translated from Latin, Tabula Rasa the restaurant stationed
            in Jubilee Hills, is a perfect spot to explore that philosophy.
            You’re welcomed by blues playing in the background and potted plants
            surrounded by wooden furniture in the al fresco area. Had you not
            known better, you’ll almost expect a coastline on the other side of
            the bar at the far end of the restaurant. For the attentive eye,
            rustic doors that lead to nowhere in particular and an old lawnmower
            transformed into a lamp post that blend into the décor will not go
            unnoticed. We sit, soaking in the music, before the drinks arrive.
          </p>

          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-8">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <br />
          <h2><b>LIVE MUSIC</b></h2>
          <h5 style="color:yellow">A REAL DOWN HOME MUSIC BAR</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2 style="color:white"><b>ABOUT US</b></h2>
          <h5 style="color:yellow">@TABULA RASA</h5>
          <div class="fakeimg">
            <img src="tabula_main.jpg" alt="image" />
          </div>
          <p style="color:white">
            Tabula Rasa – a philosophy that sees the human mind as a blank
            slate. Translated from Latin, Tabula Rasa the restaurant stationed
            in Jubilee Hills, is a perfect spot to explore that philosophy.
            You’re welcomed by blues playing in the background and potted plants
            surrounded by wooden furniture in the al fresco area. Had you not
            known better, you’ll almost expect a coastline on the other side of
            the bar at the far end of the restaurant. For the attentive eye,
            rustic doors that lead to nowhere in particular and an old lawnmower
            transformed into a lamp post that blend into the décor will not go
            unnoticed. We sit, soaking in the music, before the drinks arrive.
          </p>

          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-8">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <br />
          <h2><b>LIVE MUSIC</b></h2>
          <h5 style="color:yellow">A REAL DOWN HOME MUSIC BAR</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2 style="color:white"><b>ABOUT US</b></h2>
          <h5 style="color:yellow">@TABULA RASA</h5>
          <div class="fakeimg">
            <img src="tabula_main.jpg" alt="image" />
          </div>
          <p style="color:white">
            Tabula Rasa – a philosophy that sees the human mind as a blank
            slate. Translated from Latin, Tabula Rasa the restaurant stationed
            in Jubilee Hills, is a perfect spot to explore that philosophy.
            You’re welcomed by blues playing in the background and potted plants
            surrounded by wooden furniture in the al fresco area. Had you not
            known better, you’ll almost expect a coastline on the other side of
            the bar at the far end of the restaurant. For the attentive eye,
            rustic doors that lead to nowhere in particular and an old lawnmower
            transformed into a lamp post that blend into the décor will not go
            unnoticed. We sit, soaking in the music, before the drinks arrive.
          </p>

          <hr class="hidden-sm hidden-md hidden-lg" />
        </div>
        <div class="col-sm-8">
          <h2>TITLE HEADING</h2>
          <h5>Title description, Dec 7, 2017</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
          <br />
          <h2><b>LIVE MUSIC</b></h2>
          <h5 style="color:yellow">A REAL DOWN HOME MUSIC BAR</h5>
          <div class="fakeimg">Fake Image</div>
          <p>Some text..</p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco.
          </p>
        </div>
      </div>
    </div>
    <div class="jumbotron text-center" id="j" style="background-color: yellow">
      <h5>@Copyright 2019 Tabula Rasa|Hyderabad|Telangana|India</h5>
    </div>
  </body>
</html>
